[Unit]
Description=此处填写您的服务名 # 例如 embyboss
After=mysqld.service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=此处填写你在服务器上存放Bot的目录 # 例如/root/Sakura_embyboss/
ExecStart=python3 此处填写入口程序 # 例如/root/Sakura_embyboss/main.py
Restart=on-abnormal
PrivateTmp=True
RestartSec=5s
KillMode=mixed

StandardOutput=null
StandardError=syslog

[Install]
WantedBy=multi-user.target